h1 { 
    text-decoration: line-through;
   @font-face {
       font-family: Roboto;
       src: url(Roboto.ttf);
   }
font-weight: 300;
font-size: 50px;
color: red;

}

h2 {
    text-transform: uppercase;
    @font-face {
        font-family: Roboto;
        src: url(Roboto.ttf);
    }
    font-weight: 950;
    font-size: 40px;

color:rgb(19, 162, 187);

}

p {
    font-weight: 600;
    font-size: 100px;
color:blue;

}

h3 {
    font-weight: 500;
    font-size: 37px;

color:brown;


}

h6 {

    font-size: 100px;
    font-weight: 200;
color:sandybrown;


}
.tinker {
border-image: 3px: color:red ;
border-radius: 600px;

}

