body {
    background-color: #070218;
   }
.skillbox {
    font-weight: lighter;
    font-size: 57px;
    position: absolute;
    bottom: 5%;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: white;
}

a.knopka {
    position: absolute;
    bottom: 60%;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    padding: 20px 30px;
    transform: translate(15%, -50%);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: white;
    
    text-decoration: none;
    user-select: none;
    background: #4129fe;
   
}




a.knopka2 {
    position: absolute;
    bottom: 60%;
    top: 50%;
    left: 47%;
    margin-right: -50%;
    padding: 20px 30px;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: white;
    text-decoration: none;
    user-select: none;
    background: #4129fe;
   
}
.btn {  
    font-weight: bold;
font-size: 16px;
color: #402bf3;
position: absolute;
bottom: 40%;
top: 55%;
left: 47%;
text-align: center;




}