body {
    background-color: #070218;
    }
    .skillbox {
    font-weight: lighter;
    font-size: 57px;
    font-family: 'Roboto', sans-serif;
    color: white;
    }
    
    .knopka {
    padding: 20px 20px;
    font-family: 'Roboto', sans-serif;
    color: white;
    text-decoration: none;
    background: #4129fe;
    margin-right: 20px;
    
    }
    
    .btn {
    font-weight: bold;
    font-size: 16px;
    color: #402bf3;
    margin-top: 40px;
    padding-right: 26px;
    
    }
    .container {         
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


    }
    .btnContainer { 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;




    }
    .dwnldContainer {   
        margin-top: 35px;
    
    
    }